{
    "service": {
        "name": "chopper-next",
        "port": 8002,
        "checks": [
            {
                "tcp": "{{ ansible_host }}:8002",
                "interval": "5s",
                "timeout": "2s"
            }
        ]
    }
}
